<div class="menu-bar">
  <div class="menu">
    <h1 class="menu-title">봉사</h1>
    <ul class="menu-list">
      <li><%= link_to '봉사활동', '/volunteer/activity', class: "menu-list-item" %></li>
      <li><%= link_to '역대활동', '/volunteer/volunteer_history', class: "menu-list-item" %></li>
      <li><%= link_to '자원봉사모집', '/volunteers', class: "menu-list-item" %></li>
    </ul>
  </div>
</div>