<%= render 'menu' %>
<div class="main-container">
  <h2>IEMU11 봉사활동 소개</h2>

  <div class="intro">
    <div class="intro-img">
      이미지
    </div>
  </div>

  <div class="mid-line"></div>

  <div class="intro">
    <div class="intro-img">
      이미지
    </div>
  </div>
</div>