<%= render 'menu' %>

<div class="main-container">
  <h4>역대활동</h4>

  <div class="intro">
    <div class="intro-img">
      이미지
    </div>
  </div>

  <div class="mid-line"></div>

  <div class="intro">
    <div class="intro-img">
      이미지
    </div>
  </div>
</div>