<%= render 'menu' %>

<div class="main-container">
  <h4>역사</h4>
  <div class="club">
    <ul class="history-tab">
      <li class="current">2020년대</li>
      <li>2010년대</li>
    </ul>

    <div class="history-wrap">
      <div class="history-box">
        <ul>
          <li>
            <div class="history-txt">
              <h3>| 2021</h3>
              <p>- 하나원큐 K리그1 2020 우승</p>
              <p>- 하나은행 FA컵 우승</p>
            </div>
          </li>
          <li>
            <div class="history-txt">
              <h3>| 2020</h3>
              <p>- 하나원큐 K리그1 2020 우승</p>
              <p>- 하나은행 FA컵 우승</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <ul class="history-menu">
      <li class="history-list">
        <p>CLUB PRIZE</p>
      </li>
      <li class="history-list">
        <p>CLUB COACHES</p>
      </li>
      <li class="history-list">
        <p>CLUB UNIFORM</p>
      </li>
    </ul>
  </div>
</div>