<%=render 'menu' %>

<div class="main-container">
  <div class="intro">
    <h3>인사말</h3>
    <div class="intro-img">
      이미지
    </div>
  </div>

  <div class="mid-line"></div>

  <div class="intro">
    <h3>조직도</h3>
    <div class="intro-img">
      이미지
    </div>
  </div>
</div>