<%=render 'menu' %>

<div class="main-container">
  <div class="intro">
    <h4>회칙</h4>
    <div class="intro-img">
      이미지
    </div>
  </div>

  <div class="mid-line"></div>

  <div class="intro">
    <h4>행동강령</h4>
    <div class="intro-img">
      이미지
    </div>
  </div>
</div>