<%=render 'menu' %>

<div class="main-container">
  <div class="intro">
    <h2>슬로건</h2>
    <div class="intro-img">
      이미지
    </div>
  </div>

  <div class="mid-line"></div>

  <div class="intro">
    <h2>앰블럼</h2>
    <div class="intro-img">
      이미지
    </div>
  </div>
</div>