<div class="menu-bar">
  <div class="menu">
    <h1 class="menu-title">소식</h1>
    <ul class="menu-list">
      <li><%= link_to '공지사항', '/intro/intro', class: "menu-list-item" %></li>
      <li><%= link_to '이벤트', '/intro/rules', class: "menu-list-item" %></li>
      <li><%= link_to '언론보도', '/intro/history', class: "menu-list-item" %></li>
    </ul>
  </div>
</div>