<div class="menu-bar">
  <div class="menu">
    <h1 class="menu-title">경기</h1>
    <ul class="menu-list">
      <li><%= link_to '일정 및 결과', matches_path, class: "menu-list-item" %></li>
      <li><%= link_to '순위표', tables_path, class: "menu-list-item" %></li>
    </ul>
  </div>
</div>