<div class="menu-bar">
  <div class="menu">
    <h1 class="menu-title">소식</h1>
    <ul class="menu-list">
      <li><%= link_to '공지사항', '/boards/1', class: "menu-list-item" %></li>
      <li><%= link_to '이벤트', '/boards/7', class: "menu-list-item" %></li>
      <li><%= link_to '언론보도', '/boards/8', class: "menu-list-item" %></li>
    </ul>
  </div>
</div>