/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.new-btn {
    display: inline-block;
    float: right;
    background-color: #0a3c9b;
    color: #ebebeb;
    padding: 10px 15px 10px 15px;
    font-size: 12px;
}

.float-wrap {
    overflow: hidden;
}

/* nav-bar */

.nav-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: #0a3c9b;
    transition: height 0.3s;

}
.nav-menu::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 59px;
    width: 100%;
    height: 1px;
    background-color: #BBBBBB;
}

.nav-menu:hover {
    height: 260px;
}

.nav-menu .nav-menu-inner {
    position: relative;
    margin: 0 auto;
    width: 1024px;
}
.nav-menu .logo {
    position: absolute;
    left: 0;
    top: 10px;
}

.nav-menu .logo a {
    display: flex;
    align-items: center;
    width: 80px;
    height: 40px;
    text-align: center;
    color: #ebebeb;
    font-size: 18px;
}

#gnb {
    text-align: center;
}

#gnb ul {
}

#gnb > ul > li {
    display: inline-block;
    position: relative;
}

#gnb > ul > li > a {
    display: block;
    position: relative;
    line-height: 60px;
    color: #ebebeb;
    width: 150px;
}

#gnb > ul > li:hover > a,
#gnb > ul > li > a:focus {
    color: white;
}

/*#gnb > ul > li > a::after {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 30px;*/
/*    width: 2px;*/
/*    height: 20px;*/
/*    background-color: #ccc;*/
/*}*/

#gnb > ul > li:last-child > a::after {
    display: none;
}

#gnb li ul {
    position: absolute;
    left: 0;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
}

#gnb li ul a {
    display: block;
    line-height: 35px;
    font-size: 14px;
    color: #DADADA;
}

#gnb li ul a:hover,
#gnb li ul a:focus {
    color: white;
}

.img-logo {
    width: 60px;
    height: 50px;
}

/* partners */

.partners-list {
    list-style: none;
    display: flex;
    width: 1024px;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.partners-section {
    border-top: 1px solid #ebebeb;
    width: 1024px;
    height: 70px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.partner-logo {
    height: 35px;
    width: 100px;
}

#smu {
    height: 30px;
    width: 100px;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
}

/* footer */

footer {
    background-color: #0a3c9b;
    font-weight: 300;
    color: #F8F8FF;
    padding-top: 60px;
    padding-bottom: 50px;
}

.main-footer {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.sns-list {
    display: flex;
    height: 40px;
    align-items: center;
}

.sns-icon {
    text-decoration: none;
    font-size: 26px;
    color: #ebebeb;
    margin-right: 10px;
}

.youtube {
    font-size: 30px;
}

.address,
.email,
.copyright {
    font-size: 14px;
    margin-bottom: 5px;
}

.email {
    margin-bottom: 20px;
}

.copyright {
    float: left;
}

.iemu11 {
    font-size: 14px;
    float: right;
}

.footer-float-wrap {
    overflow: hidden;
}

.login {
    color: #0a3c9b;
}