// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 30px;
  border-bottom: 10px solid #0a3c9b;
}

.board-normal thead {
  background: #0a3c9b;
  color: #ebebeb;
  line-height: 36px;
}

.board-normal th {
  font-weight: 400;
  font-size: 13px;
  height: 40px;
}

.board-normal tr {
  display: table-row;
}

.board-normal tbody tr td {
  line-height: 18px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: black;
}

.board-normal th:first-child,
.board-normal td:first-child {
  width: 10%;
}

.board-normal th:nth-child(2),
.board-normal td:nth-child(2) {
  width: 45%;
}

.board-normal th:nth-child(3),
.board-normal td:nth-child(3) {
  width: 15%;
}

.board-normal th:nth-child(4),
.board-normal td:nth-child(4) {
  width: 15%;
}

.board-normal th:nth-child(5),
.board-normal td:nth-child(5) {
  width: 15%;
}