// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 30px;
  margin-top: 50px;
  border-top: 3px solid #2f3133;
}

.board-normal thead {
  color: #2f3133;
  line-height: 45px;
}

.board-normal th {
  font-weight: 500;
  font-size: 16px;
  height: 45px;
  text-align: center;
}

.board-normal tr {
  display: table-row;
}

.board-normal tbody tr td {
  line-height: 18px;
  font-size: 14px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #2f3133;
  border-top: 0.5px solid #ebebeb;
}

.board-normal th:first-child,
.board-normal td:first-child {
  width: 10%;
}

.board-normal th:nth-child(2),
.board-normal td:nth-child(2) {
  width: 55%;
}

.board-normal th:nth-child(3),
.board-normal td:nth-child(3) {
  width: 10%;
}

.board-normal th:nth-child(4),
.board-normal td:nth-child(4) {
  width: 10%;
}

.board-normal th:nth-child(5),
.board-normal td:nth-child(5) {
  width: 15%;
}