// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.m-s-box {
  width: 1024px;
  height: 130px;
  border-top: 1px solid #ebebeb;
  display: table;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 50px;
}

.m-logo {
  height: 63px;
}

.m-logo-iemu11 {
  width: 80px;
}

.m-s-01 {
  width: 15%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.m-s-02 {
  width: 15%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.m-place {
  font-size: 14px;
}

.m-s-03 {
  width: 50%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.m-s-03 ul {
  width: 100%;
  margin: 0;
  align-items: center;
  display: table;
  padding: 0;
}

.m-s-03 li {
  font-size: 22px;
}

.m-name {
  font-weight: bold;
}

.score p {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 4px;
  margin: 0;
}

.m-s-04 {
  width: 15%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.m-s-04 a {
  text-decoration: none;
  color: #091e58;
}

.m-s-box .m-s-03 ul li {
  width: 20%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.m-name {
  font-size: 20px;
  font-weight: 600;
}

.score p {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 10px;
}