// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.m-s-box {
  width: 1024px;
  height: 130px;
  border-top: 1px solid #ebebeb;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.m-logo {
  width: 62px;
}

.m-logo-iemu11 {
  width: 100px;
}

.m-s-01 {
  width: 15%;
  text-align: center;
}

.m-s-02 {
  width: 20%;
  text-align: center;
}

.m-place {
  font-size: 14px;
}

.m-s-03 {
  width: 50%;
  text-align: center;
}

.m-s-03 ul {
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

.m-s-03 li {
  font-size: 22px;
}

.m-name {
  font-weight: bold;
}

.score p {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 4px;
}

.m-s-04 {
  width: 15%;
  text-align: center;
}