// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.league {
  display: flex;
  align-items: center;
}

.k7-logo {
  width: 50px;
}

.league-txt {
  color: #091e58;
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

.rank {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #696b6d;
  border-top: 1px solid #696b6d;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 30px;
  margin-top: 50px;
}

.rank thead {

}

.rank th {
  height: 36px;
  border-top: 1px solid #696b6d;
  border-bottom: 1px solid #696b6d;
  color: #696b6d;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
}

.rank tr {
  display: table-row;
}

.rank tbody tr td {
  line-height: 18px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #2f3133;
  font-size: 14px;
  border-top: 0.5px solid #ebebeb;
}

.rank th:nth-child(2),
.rank td:nth-child(2) {
  width: 25%;
}

.rank th:nth-child(10),
.rank td:nth-child(10) {
  width: 10%;
}

.team-name {
  font-size: 16px;
}