// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.league {
  display: flex;
  align-items: center;
}

.k7-logo {
  width: 50px;
}

.league-txt {
  color: #091e58;
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 30px;
}

.rank thead {
  background: #0a3c9b;
  color: #ebebeb;
  line-height: 36px;
}

.rank th {
  font-weight: 400;
  font-size: 13px;
  height: 40px;
}

.rank tr {
  display: table-row;
}

.rank tbody tr td {
  line-height: 18px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}