<div class="menu-bar">
  <div class="menu">
    <h1 class="menu-title">선수단</h1>
    <ul class="menu-list">
      <li><%= link_to '선수단', '/member', class: "menu-list-item" %></li>
    </ul>
  </div>
</div>